<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>User Management - User Form</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<h2 class="text-center mt-5">[[${pageTitle}]]</h2>

<div class="my-3">
    <form th:action="@{/users/save}" method="post" enctype="multipart/form-data" th:object="${user}"
          style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{id}" />

        <div class="p-3">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="username">Username</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{username}" required minlength="2" maxlength="128" class="form-control"
                           id="username" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="email">Email</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{email}" minlength="2" maxlength="256" class="form-control"
                           id="email" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="fullName">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{fullName}" required minlength="2" maxlength="256"
                           class="form-control" id="fullName" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="password">Password</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{password}" minlength="2" maxlength="256" class="form-control" id="password" />
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary  mr-2" />
                <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary " />
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>

<script type="text/javascript">
  $(document).ready(function () {
    $("#btnCancel").on("click", function () {
      window.location = "[[@{/users}]]";
    });
  });
</script>